<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="mycon" connectionString="Server=199.79.62.22;uid=training;pwd=Training@786;database=cmp"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
  <appSettings>
  <add key="sample.Service" value="http://localhost:1815/OurService/Service.asmx"/>
  </appSettings>
</configuration>